{% extends 'base.html' %}
{% block content %}
<h3>{{ action }} Product</h3>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Product ID</label>
    <input class="form-control" name="product_id" {% if product %} value="{{ product.product_id }}" readonly {% endif %}>
    <div class="form-text">Short unique id (eg: P001)</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input class="form-control" name="name" {% if product %} value="{{ product.name }}" {% endif %}>
  </div>
  <button class="btn btn-primary">{{ action }}</button>
  <a class="btn btn-secondary" href="{{ url_for('products') }}">Cancel</a>
</form>
{% endblock %}
